.dap-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: lightblue; */

    max-width: var(--content-width);
}

.dap-image{
    width: 100%;
}

.dap-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
}

.dap-image{
    width: 30rem;
}

.dap-text{
    padding: 0rem 4rem;
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
    width: 20rem;
}

.dap-mobile{
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}