.style-emphasis{
    font-family: serif;
    font-size: 2rem;
    font-weight: 800;
    color: crimson;
}

.style-spread{
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 0;
    /* font-stretch: expanded; */
    letter-spacing: 0.5rem;
    text-decoration: underline overline;
}