:root{
  --transition-time: 0.5s;
  --accent-color: lightblue; /*#ADD8E6 <- this one #55a7ff*/
}

.line-decoration{
  min-width: 0.25rem;
  min-height: 100%;
  margin: 0rem 2rem 0rem 1rem;
  background-image: linear-gradient(lightblue, white);
}

.post-divider{
  min-width: 100%;
  min-height: 1rem;
}

.post-container{
  max-width: 100%;
  
  padding: 0rem 0rem 0.5rem 0rem;
  margin-bottom: 2rem;
  margin-left: 0rem;

  display: flex;
  flex-direction: row;
}

.content-container{
  padding-top: 2rem;
}

.expand-button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  height: 2rem;
  /* transition: all 1s; */

  background-size: 200%;
  background-position: 0%;
  background-image: linear-gradient(90deg, white 50%, lightblue)
}

.expand-button:hover{
  transform: rotate(90);
  background-color: lightblue;
  transition: all 1s;
  cursor: pointer;

  animation: gradient-move 1s;
  animation-fill-mode: forwards;
}

.open{
  transform: rotate(45deg);
}

.closed{
  transform: rotate(0deg);
}

@keyframes gradient-move {
  from {background-position: 0%;}
  to {background-position: 100%;}
}

@keyframes bobbing {
  0% { transform: translate(0, 0rem);}
  50% { transform: translate(0, var(--distance));}
  100% { transform: translate(0, 0rem);}
}

.dotdotdot{
  --distance: -0.5rem;
  animation: none;
}

.expand-button:hover .dotdotdot{
  animation: bobbing 1s infinite forwards;
}

.image-base{
  filter: drop-shadow(rgb(171, 170, 170) 0 0 0.05rem);
  cursor: pointer;
}

.image-info-card{
  width: 20em;
  max-width: 20em;
  height: 10em;
  background-color: white;
  background-image: url("/assets/certificate.png");
  filter: drop-shadow(rgb(171, 170, 170) 0 0 0.05rem);
  margin: 15rem 5rem 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0em 2em 0em 2em;
}