:root{
  --transition-time: 0.5s;

  /* no longer defined here, check colorManager.tsx
  --primary-color: white;
  --accent-color: lightblue; /*#ADD8E6 <- this one #55a7ff
  --primary-text-color: black;
  --secondary-text-color: grey; */

  --content-width: min(calc(100vw - 20rem), 100rem); /* whole view minus width of navbar + padding */
}

/* animations */
@keyframes rotation {
  from {rotate: 0deg;}
  to {rotate: 360deg;}
}

.line-decoration{
  min-width: 0.25rem;
  min-height: 100%;
  margin: 0rem 2rem 0rem 1rem;
  background-image: linear-gradient(var(--accent-color), var(--primary-color));
}

.line-decoration-mobile{
  min-width: 0.25rem;
  min-height: 100%;
  margin: 0rem 1rem 0rem 0rem;
  background-image: linear-gradient(var(--accent-color), var(--primary-color));
}

.post-divider{
  min-width: 100%;
  min-height: 1rem;
}

.post-container{
  padding: 0rem 0rem 0.5rem 0rem;
  margin-bottom: 2rem;
  margin-left: 0rem;

  display: flex;
  flex-direction: row;
}

.open{
  transform: rotate(45deg);
}

.closed{
  transform: rotate(0deg);
}

.image-base{
  filter: drop-shadow(rgb(171, 170, 170) 0 0 0.05rem);
  cursor: pointer;
}

.default-button{
  background-image: linear-gradient(90deg, var(--primary-color), var(--accent-color));

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.webpage-container{
  width: 100%;
  max-width: 100rem;
}

.webpage-background{
  background-color: var(--primary-color);
  color: var(--primary-text-color)
}

a:link, a:visited{
  color: var(--primary-text-color);
  text-decoration: none!important;
}

.page-content-container{
  display: flex;
  flex-direction: column;
  min-width: var(--content-width);
  min-height: 83vh;
}