:root{
  --transition-time: 0.5s;
  --accent-color: lightblue; /*#ADD8E6 <- this one #55a7ff*/
}

.line-decoration{
  min-width: 0.25rem;
  min-height: 100%;
  margin: 0rem 2rem 0rem 1rem;
  background-image: linear-gradient(lightblue, white);
}

.line-decoration-mobile{
  min-width: 0.25rem;
  min-height: 100%;
  margin: 0rem 1rem 0rem 0rem;
  background-image: linear-gradient(lightblue, white);
}

.post-divider{
  min-width: 100%;
  min-height: 1rem;
}

.post-container{
  min-width: 100%;
  /* background-color: red; */
  
  padding: 0rem 0rem 0.5rem 0rem;
  margin-bottom: 2rem;
  margin-left: 0rem;

  display: flex;
  flex-direction: row;
  /* overflow-x: scroll; */
}

.open{
  transform: rotate(45deg);
}

.closed{
  transform: rotate(0deg);
}

.image-base{
  filter: drop-shadow(rgb(171, 170, 170) 0 0 0.05rem);
  cursor: pointer;
}

.image-info-card{
  width: 20em;
  max-width: 20em;
  height: 10em;
  background-color: white;
  filter: drop-shadow(rgb(171, 170, 170) 0 0 0.05rem);
  margin: 12rem 5rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.default-button{
  background-image: linear-gradient(90deg, white, lightblue);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}