.page-container{
    /* padding: 2em; */
    /* not used btw */
    /* background-color: plum; */
    margin: 2rem;
}

.page-content{
    margin-bottom: 2rem;
    flex-grow: 1;
    /* font-size: 2em; */
}