.albums-container{
    /* background-color: lightblue; */
    margin: 1rem;
    min-height: 10rem;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.album-item{
    min-width: 10rem;
    max-width: 20%;
    max-height: fit-content;
    margin: 1rem;
}

.album-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0.5rem;
}

.album-image{
    max-width: 30rem;
}

.link-bar{
    /* background-color: red; */
    /* background-image: linear-gradient(-90deg, var(--accent-color), var(--primary-color)); */
    width: 100%;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 1rem;
}

.link-icon{
    max-height: 2rem;
    max-width: 2rem;
}

.link-button{
    display: flex;
    align-items: center;
    transition: all var(--transition-time);
    border-radius: 10rem;
    padding: 0rem 1rem 0rem 1rem;

    cursor: pointer;
}

.link-button:hover{
    background-color: lightblue;
}

/* MOBILE VIEW */

.albums-container-mobile{
    /* background-color: red; */
    margin-top: 1rem;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-item-mobile{
    width: 80%;
    margin: 1rem;
    margin-bottom: 2rem;
}

/* ALBUM PAGE */

.album-page-cover{
    width: 33vw;
}

.album-page-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    /* background-color: lightblue; */
}

.album-page-mobile{
    justify-content: center;
    align-items: center;
}

.album-page-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
    /* width: 100%; */
    /* padding: 0rem 2rem 0rem 2rem; */
    /* background-color: orange; */
}

.album-page-text{
    padding: 0rem 2rem 0rem 2rem;
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
    width: 20rem;
    /* background-color: red; */
}