.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 10em;
    width: 100%;
    margin-bottom: 1em;

    background-image: linear-gradient(90deg, white 10%, var(--accent-color));
}

.logo-buffer{
    width: 8em;
}

.background-image{
    max-height: 10rem;
    margin-left: -19rem;
}