.header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  height: 10em;
  width: 100%;
  margin-bottom: 1em;

  background-image: linear-gradient(
    90deg,
    var(--primary-color),
    var(--accent-color)
  );
}

.header-logo {
  height: 8rem;
  width: 8rem;

  cursor: pointer;
  transition: transform 1s;
  transform: rotate(0deg);
}

.header-logo:active {
  transition: transform 5s;
  transform: rotate(360deg);
}

.logo-buffer {
  width: 8em;
}

.background-image {
  max-height: 10rem;
  margin-left: -19rem;
}

/* MOBILE VIEW */

.mobile-header-buffer {
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: var(--primary-color);
}

.mobile-header {
  position: sticky;
  top: 0.5rem;

  width: 100%;
  height: fit-content;
  /* background-image: linear-gradient(90deg, var(--primary-color), var(--accent-color)); */
  background-size: 200%;
  background-position: 0%;
  background-image: linear-gradient(
    90deg,
    var(--primary-color) 50%,
    var(--accent-color)
  );

  display: flex;
  flex-direction: column;
  z-index: 1;
  animation: gradient-move 1s 1s forwards;
}

.mobile-header-content {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  /* background-color: red; */
}

.mobile-header-online {
  display: flex;
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
}

/* VERTICAL HEADER */

.vheader-container {
  position: fixed;
  min-width: 11rem;
  max-width: 11rem;
  height: 90vh;
  max-height: 100%;
  /* margin-left: 1rem; */
  /* background-color: red; */
  background-image: linear-gradient(var(--accent-color), var(--primary-color));
  background-repeat: no-repeat;
}

.vlogo-buffer {
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.cloud-logo {
  /* height: 100%; */
  width: 14rem;
}

.menu-arrow {
  --distance: -1rem;
  animation: bobbing 2s ease-in-out 0s infinite forwards;
}

.mobile-menu-arrow {
  --distance: -1rem;
  animation: swaying 2s ease-in-out 0s infinite forwards;
}
