.header-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    height: 10em;
    width: 100%;
    margin-bottom: 1em;

    background-image: linear-gradient(90deg, var(--primary-color) 10%, var(--accent-color));
}

.logo-buffer{
    width: 8em;
}

.background-image{
    max-height: 10rem;
    margin-left: -19rem;
}

/* MOBILE VIEW */

.mobile-header-buffer{
    position: absolute;
    top: -0.5rem;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: var(--primary-color);
}

.mobile-header{
    position: sticky;
    top: 0.5rem;

    width: 100%;
    height: fit-content;
    background-image: linear-gradient(90deg, var(--primary-color), var(--accent-color));

    display: flex;
    flex-direction: column;
    z-index: 1;
    /* padding: 0rem 1rem 0rem 1rem; */
}

.mobile-header-content{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    /* background-color: red; */
}

.mobile-header-online{
    display: flex;
    color: var(--primary-text-color);
    text-decoration: none;
    cursor: pointer;
}

/* VERTICAL HEADER */

.vheader-container{
    position: sticky;
    top: 2.5rem;
    min-width: 11rem;
    max-width: 11rem;
    height: 90vh;
    background-image: linear-gradient(var(--accent-color), var(--primary-color));
}

.vlogo-buffer{
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}