.navbar-container{
    height: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;

    border-radius: 1em;

    padding: 0em 4em 0em 4em;
    /* transition: all 0.2s; */
}

/* .navbar-container:hover{
    height: 2.5rem;
} */

.navbar-button{
    height: 100%;
    max-width: 25%;
    background-color: white;
    /* transition: background-color var(--transition-time); */
    transition: letter-spacing 2s, background-color var(--transition-time);
    
    display: flex;
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    color: black;
    letter-spacing: 0.25rem;
    text-decoration: none;

    z-index: 1;

    /* filter: blur(1rem) */
}

.navbar-button:hover{
    background-color: transparent;
    color: black;
    /* height: 2.5rem; */
    /* font-weight: 600; */
    /* letter-spacing: 0.5rem; */
    /* filter: none; */
}

/*
.navbar-button{
    height: 100%;
    background-image: linear-gradient(white 70%, gray);
    
    display: flex;
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    position: relative;
    z-index: 1;
}

.navbar-button::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: linear-gradient(gray, white 30%);

    z-index: -1;
    opacity: 0;
    transition: opacity var(--transition-time);
}
.navbar-button:hover::before{
    opacity: 1;
}
*/