.navbar-container{
    height: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;

    border-radius: 1em;

    padding: 0em 4em 0em 4em;
    /* transition: all 0.2s; */
}

/* .navbar-container:hover{
    height: 2.5rem;
} */

.navbar-button{
    height: 2rem;
    min-height: 2rem;
    width: 100%;
    background-color: transparent;    
    display: flex;
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    color: var(--primary-color) !important;
    letter-spacing: 0.5rem;
    text-decoration: none;

    z-index: 1;
    transition: all var(--transition-time)
}

.navbar-button:hover{
    background-color: var(--primary-color);
    color: var(--accent-color) !important;
}


/* MOBILE VIEW */
.mobile-navbar-container{
    width: 100%;
    max-height: 16rem;
    transition: max-height 0.5s;

    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.mobile-navbar-button{
    height: 4rem;
    width: 100%;
    transition: letter-spacing 2s, background-color var(--transition-time);

    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 4rem;

    color: var(--secondary-text-color);
    letter-spacing: 0.25rem;
    text-decoration: none;
}

/* .mobile-navbar-button:hover{
    background-color: transparent;
    color: var(--primary-text-color);
} */

/* VERTICAL NAVBAR */
.vnavbar-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    overflow-y: hidden;
    max-height: 8rem;
    transition: max-height 0.5s;
}