
.item-gallery{
    /* background-color: lightblue; */
    padding: 1rem 0rem 1rem 0rem;
    max-width: calc(100vw - 10rem);

    display: flex;
    overflow: scroll;
    /* position: relative; */
}

.item-gallery-content{
    display: flex;
    /* justify-content: space-around; */
    min-width: 100%;
    /* animation: scroll 5s linear infinite alternate; */
    max-height: 20rem;
}

.gallery-item{
    margin: 1rem 1rem 1rem 1rem;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-image{
    max-height: 18rem;
}

/* MOBILE VIEW */
.item-gallery-mobile{
    padding: 1rem 0rem 0rem 0rem;
    width: 100%;

    display: flex;
    overflow-y: scroll;
}

.mobile-gallery-image{
    max-width: 80vw;
}

.image-info-card{
    width: 10em;
    max-width: 10em;
    height: 5em;
    background-color: white;
    filter: drop-shadow(rgb(171, 170, 170) 0 0 0.05rem);
    margin: 0rem 5rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }