.tags-container{
    --height: 1.5rem;
    /* background-color: red; */
    width: 100%;
    height: var(--height);
    padding-top: 0.5rem;

    display: flex;
    flex-direction: row;

    font-size: 0.75em;
}

.tag-button{
    background-color: var(--accent-color);
    height: var(--height);
    line-height: var(--height);

    padding: 0rem 0.5rem 0rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10rem;

    cursor: pointer;
}

.quote{
    /* background-color: red; */
    font-size: 0.75em;
    font-style: italic;
    color: var(--secondary-text-color);
    margin: 0rem 0rem 0rem 1rem;
    /* padding-bottom: 1rem; */
}