.timeline-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    /* background-color: orangered; */
}

.timeline-item{
    /* background-color: orange; */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}