.page-contianer{
    /* background-color: plum; */
    /* background-image: linear-gradient(white 70%, grey); */
}

.timeline-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    padding: 1rem 1rem 1rem 0rem;
    margin-top: 2rem;
    max-width: 100%;

    /* background-color: red; */
}

.timeline-line{
    min-width: 0.25rem;
    min-height: 100%;
    margin: 0rem 2rem 0rem 1rem;

    /* background-color: lightblue; */
    background-image: linear-gradient(lightblue, white);
}

.timeline-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    /* background-color: orangered; */
}

.timeline-item{
    /* background-color: orange; */
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.item-gallery{
    /* background-color: lightblue; */
    padding: 1rem 0rem 1rem 0rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.image{
    max-height: 20rem;
    margin: 1rem;

    /* filter: blur(1rem); */
    transition: filter .5s;

    cursor: pointer;
}

.image:hover{
    filter: none;
}

.expand-button{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    height: 2rem;
    background-color: white;
    transition: all 1s;
}

.expand-button:hover{
    transform: rotate(90);
    background-color: lightblue;
    transition: all 1s;
    cursor: pointer;
}

.open{
    transform: rotate(45deg);
}

.closed{
    transform: rotate(0deg);
}