.timeline-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    /* background-color: orangered; */
}

.timeline-item{
    /* background-color: orange; */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.item-gallery{
    /* background-color: lightblue; */
    padding: 1rem 0rem 1rem 0rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.image{
    max-height: 20rem;
    margin: 1rem;

    transition: filter .5s;

    cursor: pointer;
}

.image:hover{
    filter: none;
}

.expand-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    height: 2rem;
    /* transition: all 1s; */

    background-size: 200%;
    background-position: 0%;
    background-image: linear-gradient(90deg, white 50%, lightblue)
}

.expand-button:hover{
    transform: rotate(90);
    background-color: lightblue;
    transition: all 1s;
    cursor: pointer;

    animation: gradient-move 1s;
    animation-fill-mode: forwards;
}

@keyframes gradient-move {
    from {background-position: 0%;}
    to {background-position: 100%;}
}

.open{
    transform: rotate(45deg);
}

.closed{
    transform: rotate(0deg);
}